{% load tags %}
<aside class="col-md-4">
    <div class="widget widget-recent-posts">
        <h3 class="widget-title">最新文章</h3>
        <ul>
            {% get_recent_post as get_recent_post_list %}
            {% for post in get_recent_post_list %}
            <li>
                <a href="{% url 'app:detail' post.pk %}">{{ post }}</a>
            </li>
            {% empty %}
            {% endfor %}
        </ul>
    </div>
    <div class="widget widget-archives">
        <h3 class="widget-title">归档</h3>
        <ul>
            {% archives as get_archives %}
            {% for archive in get_archives %}
            <li>
                <a href="{% url 'app:archives' archive.year archive.month %}">{{ archive }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="widget widget-category">
        <h3 class="widget-title">分类</h3>
        <ul>
            {% get_categories as get_category_list %}
            {% for category in get_category_list %}
            <li>
                <a href="{% url 'app:category' category.pk %}">{{ category }}<span class="post-count">({{ category.num }})</span></a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="widget widget-tag-cloud">
        <h3 class="widget-title">标签云</h3>
        {% get_tags as get_tag_list %}
        {% for tag in get_tag_list %}
        <ul>
            <li>
                <a href="{% url 'app:tag' tag.pk %}">{{ tag.name }}</a>
            </li>
           
        </ul>
        {% empty %}
        None
        {% endfor %}
    </div>
    <div class="rss">
        <a href="{% url 'app:rss' %}"><span class="ion-social-rss-outline"></span> RSS 订阅</a>
    </div>
</aside>